/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    Height: 80vh;
    /*background-image: url('../Images/low-poly-texture-26.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}
.btn-info {
    background-color: #f0fcff;
}
    .btn-info:hover {
        background-color: #d3e6ff;
    }
.btn-outline-info:hover {
    background-color: #d3f8ff;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

/* jumbotron for booksearchbar*/
#booksearchbar {
    padding: 15px;
    border-radius: 10px;
    background-color: #f5bb5b;
}

#search-title {
    font-size: 30px;
    color: white;
    background: #587295;
    padding: 5px;
    border-radius: 5px;
}

#booksdisplay {
    border-radius:8px;
    background-color: white;
}
ul li{
    margin:0px 5px;
}
.bg-dedicated {
    background: #ffffff;
    border-radius: 8px;
}
 .d-inline {
     display:inline;
 }
.m-l-50 {
    margin-left: 50px;
}
.book-image {
    height:230px;
    width:auto;
}
 td {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    vertical-align: middle !important;
}
a {
    
    text-decoration: none !important;
}
.m-0{
    margin:0px;
}
footer {
    color:white !important; 
}
.bg-dedicated td {

   /* border-color: #dbdbeb;
    border-style: solid;
    border-width: 2px;*/
    vertical-align: middle !important;
    /*background: #ecf1f9;*/
    background:white;
   margin: 10px;
    display: inline-block;
    padding-bottom: 0px;
/*    border-radius: 10px;
*/}
    .bg-dedicated td:hover {
        /*border-color: #dbdbeb;
        border-style: solid;
        border-width: 2px;*/
        vertical-align: middle !important;
        background: #fefeff;
        margin: 10px;
        display: inline-block;
        padding-bottom: 0px;
        border-radius: 10px;
        transition: background-color .15s ease-in-out,box-shadow .15s ease-in-out;
        filter: drop-shadow(0 1px 5px rgba(0,0,0,.2));
    }
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #f3f8ff !important;
}
.I404 {
 
    background: #dfedff;
    padding: 30px 40px;
    font-size: 80px;
    border-radius: 15px;
    margin: 10px;
}
